<div class = "col-md-4 offset-md-4">

    <h3>Create Tour</h3>
    <form (ngSubmit) ="onSubmit()">
    
        <div class="form-group">
            <label> hour </label>
            <input type="text" class ="form-control" id = "hour"
                [(ngModel)] = "tour.hour" name = "hour">
        </div>
        <div class="form-group">
            <label> day</label>
            <input type="text" class ="form-control" id = "day"
                [(ngModel)] = "tour.day" name = "day">
        </div>
        <div class="form-group">
            <label> month </label>
            <input type="text" class ="form-control" id = "month"
                [(ngModel)] = "tour.month" name = "month">
        </div>
        <div class="form-group">
            <label> From </label>
            <input type="text" class ="form-control" id = "start"
                [(ngModel)] = "tour.start" name = "start">
        </div>
        <div class="form-group">
            <label> up To </label>
            <input type="text" class ="form-control" id = "stop"
                [(ngModel)] = "tour.stop" name = "stop">
        </div>
        <div class="form-group">
            <label> id train  </label>
            <input type="text" class ="form-control" id = "id_train"
                [(ngModel)] = "tour.id_train" name = "id_train">
        </div>
    
        <button class = "btn btn-success" type = "submit">CREATE</button>
    </form>    
    </div>
